* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  z-index: 1; /* z-index sirve para super poner las cosas, 2d */
}

.headerStyle {
  color: #fffb00;
}

.texCard{
  color:#aee6e3;
}

.characters {
  margin-top: 140px;
  margin-bottom: 60px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f4368;
  background-attachment: fixed;
  background-position: center center;
}


