* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  z-index: 1;  /* z-index sirve para super poner las cosas, 2d */
}

.headerStyle {
  color: #aee6e3;
}

.characters {
    margin-top: 140px;
    margin-bottom: 60px;
}

body{
    background-color: #756951;
}
